* {
  margin: 0;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4a90e2;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  font-style: italic;
}
.img {
  height: 100px;
   padding: 20px;  
  display: block;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  background-color: #4a90e2;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #357abd;
}

footer {
  text-align: center;
  padding: 1rem;
  color: white;
  font-weight: 500;
  background-color: #4a90e2;
  margin-top: 2rem;
  text-decoration: underline;
}
.section2 {
  font-style: italic;
}